.blog-post-card{
    background-color: white;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    overflow: clip;
}
.post-img{
    width: 100%;
    border-bottom: 5px solid #333;
}
.post-content{
    padding: 20px;
}
.post-title{
    color: #333;
    margin: 0 0 10px 0;
}

.post-excerpt{
    color: #667;
    margin: 0 20px;
}
.read-more{
    color: white;
    background-color: #333;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;

}
.read-more:hover{
    background-color: #555;
}