body{
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.business-card{
    width: 300px;
    background-color: #fff0f5;
    padding: 20px;
    margin-top: 100px;
    font-size: 16px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
.profile-image{
    max-width:100%;
}